@page
@model WebApplicationTest.Pages.Porfolios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobExperience</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobExperience.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobExperience.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobExperience.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobExperience.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobExperience.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobExperience.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.JobExperience?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
